<table>
    <tr>
        <th>Facility</th>
        <td> {{Facility}} </td>
    </tr>
    <tr>
        <th>Machine Code</th>
        <td>{{MachineCode}} </td>
    </tr>
    <tr>
        <th>No of Hydraulic motors</th>
        <td>{{NoOfHydraulicMotors}} </td>
    </tr>
    <tr>
        <th>No of Coolant motors</th>
        <td>{{NoOfCoolantMotors}}</td>
    </tr>
    <tr>
        <th>No of Lubrication motors</th>
        <td>{{NoOfLubricationMotors}} </td>
    </tr>
    <tr>
        <th>Machine Name</th>
        <td>{{MachineName}}</td>
    </tr>
</table>
